{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block title %}About - Amherst College Student{% endblock %}

{% block content %}
<div class="about-page">
    <h2>About This Site</h2>
    <p>
        Hey there! This website was created for my Human-Computer Interaction class, and I wanted to make it more than just a collection of pages. I approached the design using human-centered principlesby thinking about how real people perceive, interact, and make sense of interfaces. I tried to focus on affordances, signifiers, and constraints to guide users naturally while minimizing errors or confusion. Basically, I wanted the site to feel intuitive without forcing you to guess what’s going on.
    </p>
    <p>
        I also considered mental models, feedback, and the balance between simplicity and functionality. This meant thinking about how users interpret controls, how easy it is to recover from mistakes, and how different features communicate their purpose. Even small things like how links respond or how forms behave were influenced by concepts like natural mapping, forcing functions, and error prevention.
    </p>
    <p>
        Your feedback is a huge part of this. Whether you notice something about the layout, navigation, or just how the site “feels” to use, it all matters. If you’d like to participate in my feedback survey, check it out <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-OjWClnhvd8MWpyrLGGwmOwyFDXOqGygdwkja6tg2zGpZ-Q/viewform?usp=sharing&ouid=106844421093797473063" target="_blank">here</a>, or if you want to reach me directly, send me an email at <a href="mailto:aleon26@amherst.edu">aleon26@amherst.edu</a>.
    </p>
    <p>
        Thanks for stopping by! Enjoy exploring the site and hopefully experiencing some of the design principles in action!
    </p>
</div>
{% endblock %}