<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Amherst College Student{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="top-nav">
        <img src=" {{ url_for('static', filename='images/2022_1101_Fall-Scenics_129.jpg') }}">
        <nav class="nav-link-bar">
            <ul class="nav-links">
                <li class="username-menu">
                    <div class="username-menu-toggle">
                        Hello, {{ username }} ▼
                    </div>
                    <ul class="username-dropdown">
                        <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
                <li><a href="{{ url_for('dining') }}">Dining</a></li>
                <li><a href="{{ url_for('quizzes_page') }}">Quizzes</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Thoughts on the site? Go to this <a href="https://docs.google.com/forms/d/e/1FAIpQLSeo3COQ1hdIsMAx5IqhksQxmYO6FpksJIj16NoFkYAV8ktkmA/viewform?usp=dialog" target="_blank">link</a></p>
    </footer>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>