<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In - Amherst College Student</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    </head>
    <body class="signin-page">
        <h1 class="site-title">Amherst College Student Site</h1>
        <div class="signin-container">
            <h1>New To The Site?</h1>
            <form action="{{ url_for('new_user') }}" method="post">
                <button type="submit">Generate New Username</button>
            </form>
            <p class="new-user-note">This is username will be the only credential needed for signing in.</p>
            <hr>
            <h1>Existing User?</h1>

            <form action="{{ url_for('existing_user') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <button type="submit">Sign In</button>
            </form>

            <div class="error-popup" id="error-popup">
                <p>User not found!</p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/signin.js') }}"></script>
        <script>
            const userNotFound = {{ 'true' if user_not_found else 'false' }};
            if (userNotFound){ 
                showPopup();
            }
        </script>
    </body>
</html>
