<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sign In - Amherst College Student{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>
<body class="signin-page">
    <div class="signin-container">
        <h1>Sign In</h1>
        <form action="{{ url_for('existing_user') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <button type="submit">Sign In</button>
        </form>
        <div class="error-popup" id="error-popup"><p>User not found!</p></div>

        <hr>
        <form action="{{ url_for('new_user') }}" method="post">
            <button type="submit">New User</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/signin.js') }}"></script>
    <script>
        const userNotFound = {{ 'true' if user_not_found else 'false' }};
        showPopup(userNotFound);
    </script>
</body>
</html>